@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');
*{
    margin:0;
    font-family: 'Inter', sans-serif;
}
header{
    padding:10px 5%;
    background-color:#FF6B00;
    position:fixed;
    top:0;
    left:0;
    width:100%;
    z-index:2;
}
header>*{
    display:inline-block;
    padding:10px 10px;
}
.h1{
    font-size:30px;
}
body{
    position: relative; 
}
.pustota{
    width:700px;
    
}
a{
    text-decoration:none;
    margin:0 10px;
    font-size:25px;
    color: black;
    transition: color .5s;
}
.post{
    background-image:url(1579331119_60-111.jpg);
    padding:10px 5%; 
}
.razryv{
    height:1050px;
}
.ar{
    margin:0px 131px;
}
.img{
    display:inline-block;
    padding:20px 35px;
}
#n{
    background-image:url(1579331119_60-111.jpg);
    margin:0px 131px;
}
h2{
    font-size:30px;
    padding:10px 5%;
}
#s{
    background-image:url(1579331119_60-111.jpg);
    margin:0px 131px;
}
table{
    border:1px solid black;
    display:inline-block;
    width:600px;
}
.ar1{
    display:inline-block;
}
#k{
    background-image:url(1579331119_60-111.jpg);
    margin:0px 131px; 
}
.p1{
    font-size:20px;
    padding:20px 20px;
}
.border{
    display: inline;
    border-bottom: 2px solid #FF6B00;
}
.pustota1{
    height:20px;
}
.pustota2{
    display:inline-block;
    width:375px;
}
footer{
    background-image:url(1579331119_60-111.jpg);
}
.pustota3{
    width:1000px
}
.hr{
	padding: 0;
	height: 0;
	border: none;
	border-top: 2px solid #FF6B00;
	margin:0px 0px;
}
.fp{
    font-size:20px;
    padding:20px 20px;
    display:inline-block;
}
.pustota4{
    display:inline-block;
    width:550px;
}
.razryv1{
    height:200px;
}
#flex{
    display:flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.p{
    position:relative;
    right:5px
}
.p2{
    position:relative;
    right:43px;
    padding:0px 0px 10px 0px;
}
.p3{
    position:relative;
    right:120px;
    padding:0px 0px 10px 0px;
}
.p4{
    position:relative;
    right:13px;
}
